# Environment
.env

# Dependencies
/vendor/

# CodeIgniter writable
/writable/cache/*
/writable/debugbar/*
/writable/logs/*
/writable/session/*
/writable/uploads/*

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# PHP
.phpunit.result.cache